* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $regular;
  background: #F2F2F2;
}


// Main Colors
$blue: #005B9C;
$gray: #979797;
$dark-gray: #333333;
$white: #ffffff;
$bgBody-color: #F2F2F2;



// Main Mixins

// Button Modal Style
@mixin btn-style{
  width: 160px;
  height: 43px;
  font-size: 17px;
  border-radius: 2px;
  border: 1px solid #777777;
  transition: background 0.2s ease;

  @media (max-width: 425px) {
    width: 80px;
    font-size: 14px;
  }

  &:hover {
    background: $blue;
    color: $white;

    span {
      color: $white;
    }
  }
}

// Web apparence input main setup
@mixin webAppearance{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}


// Placeholder inputs style
@mixin placeholderStyle {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray;
    font-family: $regular;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
    font-family: $regular;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $gray;
    font-family: $regular;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $gray;
    font-family: $regular;
  }
}

@mixin placeholderStyle02 {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255,0.3);
    font-family: $regular;
    font-weight: lighter;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255,0.3);
    font-family: $regular;
    font-weight: lighter;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255,0.3);
    font-family: $regular;
    font-weight: lighter;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,0.3);
    font-family: $regular;
    font-weight: lighter;
  }
}