.landing-content {

  // Form Landing
  .landing-form {
    height: 529px;
    background-image: url("/static/images/group.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;

    @media(max-width: 992px){
      height: auto;
    }

    // First Input & Visa Card Image
    .landing-form-a {
      color: $white;

      p {
        font-size: 22px;
      }

      input {
        width: 90%;
        height: 55px;
        font-size: 25px;
        font-weight: lighter;
        background: transparent;
        border: none;
        border-bottom: 2px solid $white;
        background-image: url("/static/images/arrow-right-white.png");
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: 99% 1px;
        @include webAppearance;
        @include placeholderStyle02;

        @media(max-width: 992px){
          width: 100%;
        }

        &:focus {
          outline: none;
          background-image: none;
        }

      }

      .visa-card {
        width: 249px;
        height: 156px;
        border-radius: 7px;
        -webkit-box-shadow: -1px 0px 5px 8px rgba(66,66,66,0.15);
        -moz-box-shadow: -1px 0px 5px 8px rgba(66,66,66,0.15);
        box-shadow: -1px 0px 5px 8px rgba(66,66,66,0.15);
        margin-top: 14%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 7px;
        }
      }
    }

    .lading-form-b {
      position: relative;

      // Visa logo - Solicitudes
      .landing-form-b_logo {
        width: auto;
        height: auto;
        overflow: hidden;
        text-align: right;

        @media (max-width: 992px){
          margin: 30px 0 30px 0;
        }

        img {
          width: 20%;
          height: auto;
          opacity: 0.21;

        }

        span {
          display: block;
          color: $white;
          font-size: 10px;
          margin-right: 7px;
          margin-top: -2px;
        }
      }

      // Form Box
      .landing-form-b_formBox {
          height: 447px;
          width: 450px;
          border-radius: 8px;
          background: linear-gradient(138.15deg, #1A56FF 0%, #600FC0 100%);
          box-shadow: 0 3px 16px 0 rgba(0,0,0,0.14);
          padding: 18px 33px;
          position: absolute;
          top: 11.4em;
          right: 51px;
        
          @media (max-width: 992px) {
            position: initial;
            margin: 0 auto;
            width: 100%;
            height: auto;
          }

          &.active {
            .landing-form-b_formBox-div {
              input {

              }
            }

            .form-box-btn {
              opacity: 1 !important;
            }
          }

          h3{
            text-transform: uppercase;
            margin-bottom: 35px;
            color: $white;
          }

          // Inputs Div
          .landing-form-b_formBox-div{
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom: 20px;

            label {
              font-size: 13px;
              font-family: $regular;
              margin-bottom: 3px;
              color: $white;
            }

            input {
              width: 100%;
              height: 43px;
              padding-left: 10px;
              font-weight: lighter;
              border: 1px solid $gray;
              @include  webAppearance;
              @include placeholderStyle;

              &:focus {
                outline: none;
              }
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          .form-box-btn {
            height: 74px;
            text-align: center;
            background: #F8972E;
            color: $white;
            font-size: 20px;
            font-family: $bold;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            z-index: 10;
            padding: 21px;
            position: absolute;
            left:0;
            bottom: 0;
            cursor: pointer;
            opacity: 0.09;

            @media(max-width: 992px){
              width: 100%;
              position: initial;
            }
          }
      }
    }
  }

  // Landing Text
  .landing-text {
    padding: 90px;

    .landing-text_title {
      color: $blue;
      font-size: 20px;
      font-family: $bold;
      margin-bottom: 15px;
    }

    .landing-text_title-blockText {
      color: #999999;
      font-size: 20px;
      line-height: 30px;
    }
  }
}