.ModalComponent-content {
  width: 425px;
  height: auto;
  overflow: hidden;
  text-align: left;
  position: relative;
  font-family: $bold;
  color: $dark-gray;
  padding: 0;
  margin: 0;
  overflow: hidden;

  // Titulo
  .ModalComponent-title {
    font-size: 19px;
    color: $blue;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid $gray;
  }

  p {
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
  }

  input {
    width: 100%;
    height:43px;
    padding-left: 10px;
    font-weight: lighter;

    &:focus {
      outline: none;
    }
  }

  .razon-social {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .cuit-establecimiento-content {
    margin-bottom: 28%;
  }

  .create-list-btn {
    width: 92%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    color: $dark-gray;
    border-top: 1px solid $gray;
    font-family: $regular;
    padding: 20px 0 33px 0;


    a {
      display: inline-block;
      text-decoration: none;
      background: $white;
      text-align: center;
      float: left;
      padding: 8px;
      text-decoration: none;
      @include btn-style;

      span {
        color: $dark-gray;
      }
    }

    button {
      background: transparent;
      float: right;
      @include btn-style;
    }
  }
}

.add-request-btn {
  cursor: pointer;
}
