// Fonts
@import 'fonts';

//Default styles
@import 'content';

// Dashboard Components Styles
@import 'header';
@import 'list-component';
@import 'listalert';
@import "modal";
@import "buttons";

// Landing styles
@import 'landing';

